<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Lee Duncan</title>
    </head>
    <body>
        <h1>How did you get here?</h1>
        <p>I apologise. Somehow, you made it to this page, which doesn't exist. You're stuck inside this liminal space. Turn back!</p>
        <img src="{{url_for('static', filename='failwhale.jpg')}}" alt="The Fail Whale">
        <footer>
            <p>Copyright Lee Duncan {{year_range}}</p>
        </footer>
    </body>
</html>